<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722360357617-1t4frgc7nigb2j19qe14u84qt7a2k8q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722360357617-1t4frgc7nigb2j19qe14u84qt7a2k8q1</string>
	<key>API_KEY</key>
	<string>AIzaSyBlnmt2K9CqFI7Pnh65CdRQEyid2WQf8Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>722360357617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cartopia-b5c05</string>
	<key>STORAGE_BUCKET</key>
	<string>cartopia-b5c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722360357617:ios:80cbfce8642d0ab43b4f50</string>
</dict>
</plist>